extends ../../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Challenge #{challenge.title}
        .row
            .col-md-6
              form(role='form', enctype='multipart/form-data', method='POST')
                input(type='hidden', name='_csrf', value=_csrf)
                h4 Ziel erreicht
                .form-group
                  label.col-form-label.font-weight-bold Ja
                  input(type='checkbox', name='success')
                button.btn.btn-primary(type='submit') Submit
