footer.navbar.fixed-bottom
  .container.text-center
    a.flex-sm-fill.text-white(href='/challenges')
      i.fas.fa-tasks
      span Challenges
    a.flex-sm-fill.text-white(href='/highscore')
      i.fas.fa-star
      span Highscore
    a.flex-sm-fill.text-white(href='/configuration')
      i.fas.fa-cogs
      span Config
