footer.navbar.navbar-light.bg-light.fixed-bottom
  .container.text-center
    a.flex-sm-fill(href='/challenges')
      i.fas.fa-tasks
      span Challenges
    a.flex-sm-fill(href='/highscore')
      i.fas.fa-star
      span Highscore
    a.flex-sm-fill(href='/configuration')
      i.fas.fa-cogs
      span Config
