extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
  - const avatar = user.profile.picture
    img(class='avatar', src= avatar)
    br
    h3(class="center padding") #{user.profile.name}
    br
    ul(class="grid-list")
      li(class="grid-list-item profile-stats"): h4 76
      li(class="grid-list-item profile-stats"): h4 237
      li(class="grid-list-item profile-stats"): h4 30
    br
    ul(class="grid-list")
      li(class="grid-list-item profile-stats"): h4 Follower
      li(class="grid-list-item profile-stats"): h4 Points
      li(class="grid-list-item profile-stats"): h4 Challenges
    br
    br
    ul(class="grid-list"): for val, idx in fileList
        li(class="grid-list-item"): img(src= '../' + folder + '/' + val)
    else
        strong Empty
