extends layout

block content
  .col-xl-12
    a(href="/challenges").card.mb-4
      .card-body.text-center
        h2 ME
        p.card-text Herrausforderung für mich!

    a(href="/challenges").card.mb-4
      .card-body.text-center
        h2 OTHERS
        p.card-text Herrausforderung gegen andere!

    a(href="/challenges").card.mb-4
      .card-body.text-center
        h2 TOGETHER
        p.card-text Herrausforderung gemeinsam!
